<div id="diferenciais">
  <div class="row">
    <div class="col-sm-12">
      <div class="m-5">
        <h2 class="text-center">TITULO SEÇÃO</h2>
        <hr>
        <p class="text-center">Maecenas condimentum vitae lectus nec tristique sed quis est ac est elementum ultricies donec fringilla ipsum nisl, sodales mollis purus vehicula sit amet.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="row card-body">
          <div class="col-2 p-0">
            <img src="../../../assets/icones/like.png" alt="" height="40">
          </div>

          <div class="col-10 p-1">
            <h4 class="card-title">Titulo Box</h4>
            <p class="card-text">Maecenas condimentum vitae lectus nec tristique sed quis est ac est.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="row card-body">
          <div class="col-2 p-0">
            <img src="../../../assets/icones/followers.png" alt="" height="40">
          </div>

          <div class="col-10 p-1">
            <h4 class="card-title">Titulo Box</h4>
            <p class="card-text">Maecenas condimentum vitae lectus nec tristique sed quis est ac est.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="row card-body">
          <div class="col-2 p-0">
            <img src="../../../assets/icones/tools.png" alt="" height="40">
          </div>

          <div class="col-10 p-1">
            <h4 class="card-title">Titulo Box</h4>
            <p class="card-text">Maecenas condimentum vitae lectus nec tristique sed quis est ac est.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="row card-body">
          <div class="col-2 p-0">
            <img src="../../../assets/icones/idea.png" alt="" height="40">
          </div>

          <div class="col-10 p-1">
            <h4 class="card-title">Titulo Box</h4>
            <p class="card-text">Maecenas condimentum vitae lectus nec tristique sed quis est ac est.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="row card-body">
          <div class="col-2 p-0">
            <img src="../../../assets/icones/piggy-bank.png" alt="" height="40">
          </div>

          <div class="col-10 p-1">
            <h4 class="card-title">Titulo Box</h4>
            <p class="card-text">Maecenas condimentum vitae lectus nec tristique sed quis est ac est.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="row card-body">
          <div class="col-2 p-0">
            <img src="../../../assets/icones/dashboard.png" alt="" height="40">
          </div>

          <div class="col-10 p-1">
            <h4 class="card-title">Titulo Box</h4>
            <p class="card-text">Maecenas condimentum vitae lectus nec tristique sed quis est ac est.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
