<div class="row">
  <footer class="col-md-12 p-3 pt-md-5 border-top">
    <div class="row">
      <div class="col-md-3 col-sm-6 p-0" style="text-align: center;">
        <img src="../../../assets/icones/innovation.png" alt="" height="50">
        <small class="d-block mb-3 text-muted">&copy; 2020 - Todos os direitos reservados.</small>

        <a class="logoRedesSociais" target="_blank" href="https://pt-br.facebook.com/"><img src="assets/icones/facebook-logo.png" height="30" alt="Logo Facebook"></a>
        <a class="logoRedesSociais" target="_blank" href="https://www.youtube.com/"><img src="assets/icones/youtube-logo.png" height="30" alt="Logo Youtube"></a>
        <a class="logoRedesSociais" target="_blank" href="https://www.instagram.com/?hl=pt-br"><img src="assets/icones/instagram-logo.png" height="30" alt="Logo Instagram"></a>
        <a class="logoRedesSociais" target="_blank" href="https://br.linkedin.com/"><img src="assets/icones/linkedin-logo.png" height="30" alt="Logo Linkedin"></a>

      </div>
      <div class="col-md-3 col-sm-6">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing</a></li>
          <li><a class="text-muted" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing</a></li>
          <li><a class="text-muted" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 p-0">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" [routerLink]="'/'">Início</a></li>
          <li><a class="text-muted" href="#diferenciais">Sobre nós</a></li>
          <li><a class="text-muted" href="#carouselCases">Cases</a></li>
          <li><a class="text-muted" [routerLink]="'/cadastro'">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 p-0">
        <ul class="list-unstyled text-small">
          <li><p class="text-muted">Av. Paulista, 2019 - São Paulo - SP</p></li>
          <li><p class="text-muted">contato@email.com.br</p></li>
          <li><p class="text-muted">Segunda a Sexta das 08:00 às 20:00</p></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
