<div class="row p-5" style="background-color: #c5c3c6">
  <div class="col-sm-12">
    <div class="contador">
      <div class="row text-center">
        <div class="col p-0">
          <div class="counter">
            <img src="../../../assets/icones/manager.png" alt="" height="50">
            <h2 class="timer count-title count-number" data-to="3756" data-speed="5000"></h2>
            <p class="count-text ">Colaboradores</p>
          </div>
        </div>
        <div class="col p-0">
          <div class="counter">
            <img src="../../../assets/icones/planet-earth.png" alt="" height="50">
            <h2 class="timer count-title count-number" data-to="56" data-speed="5000"></h2>
            <p class="count-text">Países</p>
          </div>
        </div>
        <div class="col p-0">
          <div class="counter">
            <img src="../../../assets/icones/network.png" alt="" height="50">
            <h2 class="timer count-title count-number" data-to="12000" data-speed="5000"></h2>
            <p class="count-text ">Pessoas atendidas</p>
          </div>
        </div>
        <div class="col p-0">
          <div class="counter">
            <img src="../../../assets/icones/deal.png" alt="" height="50">
            <h2 class="timer count-title count-number" data-to="25" data-speed="5000"></h2>
            <p class="count-text ">Parceiros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
