<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Projeto Younder</title>

</head>

<body>

<app-header></app-header>

<main class="container-fluid">

  <div class="row">
    <div class="col-md-12 starter-template">
      <div class="p-5">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam consequatur, debitis doloremque ducimus eaque esse ex facere id impedit ipsa libero maiores neque nobis non possimus sint voluptate voluptatibus.</p>
      </div>
    </div>
  </div>

  <app-cases></app-cases>

  <app-diferenciais></app-diferenciais>

  <app-contadores></app-contadores>

  <app-footer></app-footer>

</main>
</body>
</html>
